.ReactModalPortal>div{
    opacity: 0;
}
.ReactModalPortal .ReactModal__Overlay{
    align-items: baseline;
    display: flex;
    justify-content: center;
    transition: opacity 200ms ease-in-out;
}
.ReactModalPortal .ReactModal__Overlay--after-open{
    opacity: 2;
}
.ReactModalPortal .ReactModal__Overlay--before-close{
    opacity: 0;
}
.previewWeather{
    background: rgb(255, 255, 255);
    border-radius: 20px;
    min-width:20% ;
    min-height:30%;
    padding: 15px;
     transform: translate(0%, 35%); 
    -webkit-box-shadow: 0px 10px 30px 1px rgba(15, 15, 15, 0.2);
    -moz-box-shadow: 0px 10px 30px 1px rgba(15, 15, 15, 0.2);
     box-shadow: 0px 5px 10px 2px rgba(15, 15, 15, 0.137);
    
}


.modal__title{
    border-bottom: 0.3px solid #777B7E;
    text-align: center;
    
}
.modal__title__h3{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
   
}
.modal__body{
font-size: 20px;
font-weight: 300;
margin: 0 0 50 0;
padding-left: 20px;
}
.modal__lable{
font-size: 18px;
font-weight: 500;
}
.full-height{
    height: 100%;
}